{% extends 'adminBase.html.twig' %}

{% block title %}Formulaire Visite{% endblock %}

{% block content %}
<style>
a.btn {
  background: #F4A460;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}
</style>
<div class="container">
<div class="cards">
  {% for valeur in visite %}
  <div class="card">
  <div class="card__image-holder">
      <img class="card__image" src="{{ asset('/dossierFichiers/' ~ valeur.photo)}}" alt="" style="width:250px; hight:250px;" />
  </div>
  <div class="card-title">
      <h2>
          {{ valeur.nom }}
      </h2>
    </div>
    <div class="card-flap flap1">
      <div class="card-description">
       {{ valeur.description }}
      </div><br>
      <div class="card-flap flap2">              
        <div class="card-actions">
          <a href="{{ path ('modifier_visite' , {'id':valeur.id}) }}" id="btn-edit" class="btn">Modifier</a> 
          <a href="{{ path ('supprimer_visite' , {'id':valeur.id}) }}" class="btn" >Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>
{% endblock %}