{% extends 'adminBase.html.twig' %}

{% block content %}
<style>
a.btn {
  background: #F4A460;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}
</style>
<div class="container">
    <div class="contacts-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                {% for valeur in user %}
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="hpanel hblue contact-panel contact-panel-cs responsive-mg-b-30">
                        <div class="panel-body custom-panel-jw">
                            <img alt="logo" class="img-circle m-b" src="{{ asset('dossierFichiers/1.png')}}"style="width:50px; hight:50px;">
                            <h3><a href="">{{ valeur.pseudo }}</a></h3>
                            <p class="card-text">{{ valeur.nom }}, {{ valeur.prenom }}</p>
                            <p class="card-text">{{ valeur.email }}</p>
                            <p class="card-text">{{ valeur.pays }}</p>
                        </div>
                        <div class="panel-footer contact-footer">
                            <div class="card-flap flap2">            
                                <div class="card-actions">
                                    {# <a href="{{ path ('modifier_excursion' , {'id':valeur.id}) }}" id="btn-edit" class="btn">Modifier</a>  #}
                                    <a href="{{ path ('supprimer_excursion' , {'id':valeur.id}) }}" class="btn" >Delete</a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}