{% extends 'adminBase.html.twig' %}

{% block content %}
<style>
a.btn {
  background: #F4A460;
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: #ffffff;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}
</style>
<div class="container">
<h3>Liste user</h3>
<table>
        <tr>
            <th>Num</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Localite</th>
        </tr>
   >    {% for valeur in user %}
        <tr>
            <td>1<td>
            <td>{{ valeur.nom }}</td>
            <td>{{ valeur.prenom }}</td>
            <td>{{ valeur.pseudo }}</td>
            <td>{{ valeur.email }}</td>
            <td>{{ valeur.pays }}</td>
            <td><input type="submit"  value="modifier"></td>
        </tr> 

{% endfor %}
</table>
</div>
{% endblock %}