{% extends 'zoneMembre.html.twig' %}

{% block title %}AreaMembre{% endblock %}

{% block body %}
<div class="container">
<h3>Devis</h3>
    {{ form_start (devis) }}<br>
        {{ form_widget (devis.type) }}<br>
        {# {{ form_widget (devis.nom )}}<br> #}
        {# <select name="excursion">
        {% for key, valeur in excursion %}
        <option value={{ valeur.id }} >{{ valeur.nom}}</option>
        {% endfor %}<br>
        </select>
         #}
        {{ form_widget (devis.nbPersonne) }}<br>
        {{ form_widget (devis.categorieHebergement) }}<br>
        {{ form_widget (formDetail.excursion)}}<br>
        {{ form_widget (formDetail.dateDebut)}}
        {{ form_widget (formDetail.dateFin)}}

        {# {{ form_widget (devis.user) }} #}
        <button class="btn btn-secondary" type="submit">Envoyer</button>
    {{ form_end (devis, {'render_rest':false}) }}
</div>
{% endblock %}
