{% extends 'zoneMembre.html.twig' %}

{% block title %}zoneMembre{% endblock %}
{% block body %}
<div class="meteo" align="center">
        <div><img class="imgMeteo" src="http://openweathermap.org/img/wn/{{ weatherIcon }}@2x.png"></div>
        <div>
            <p>Température Marrakech</p>
            <p>Date: {{ today| date('d/m/Y') }}</p>
            <p>Weather: {{ weather }}</p>
            <p> Temperature: {{ temp }} °С</p>
            {# <p>Vent : {{ wind }} m/s </p> #}
        </div>
    </div>  
    
<div> 

{% endblock %}

