{% extends 'base.html.twig' %}
{% block content %}

   <!-- popular_destination_area_start  -->
    <div class="popular_destination_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section_title text-center mb_70">
                        <h3>Visite des sites touristiques</h3>
                        <p>Les plus beaux sites.</p>
                    </div>
                </div>
            </div>
            <form action="{{ path ('visite') }}" method="POST"}}>            
            <div class="row">    
                {% for valeur in visite %}                         
                <div class="col-lg-4 col-md-6">               
                    <div class="single_destination">
                        <div class="thumb">                         
                            <img src="{{ asset ('dossierFichiers/'~ valeur.photo)}}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">{{valeur.nom}}<a href="travel_destination.html">{{valeur.dureeRecommandee}} heures</a> </p>
                            <p>{{valeur.description}}</p>
                        </div>
                    </div>               
                </div>  
                {% endfor %}          
            </div>                
        </div>       
    </div>  
    <!-- popular_destination_area_end  -->
{% endblock %}