{# {% extends 'base.html.twig' %} #}

{# {% block title %}Formulaire Visite{% endblock %} #}

{% block content %}
<div class="container mt-4">
<h1>clickez sur une visite pour modifier</h1>
{% for valeur in visite %}
<p><a href="{{ path ('modifier_visite' , {'id':valeur.id}) }}">
{{ valeur.nom }}---{{ valeur.description }}---{{ valeur.photo }}---{{ valeur.dureeRecommandee }}">
</a></p>
{# <form action="{{ path ('modifier_visites', {'id':valeur.id}) }}">
    <div class="row">

      <p>{{ valeur.nom }} </p><br>
      <p>{{ valeur.description }}</p><br>
      <p>{{ valeur.photo }}</p><br> 
      <p>{{ valeur.dureeRecommandee}}</p><br>
      <button type="submit" class="btn" name="Modifier">Modifier</button>
    </div>
</form> #}
{% endfor %}
{% endblock %}